IDR_TRANS_DE_DEFAULT RCDATA "languages\\project\\de\\default.mo"
IDR_TRANS_DE_DELPHI10 RCDATA "languages\\de\\delphi10.mo"
IDR_TRANS_FR_DEFAULT RCDATA "languages\\project\\fr\\default.mo"
IDR_TRANS_FR_DELPHI10 RCDATA "languages\\fr\\Delphi10.mo"
IDR_TRANS_DE_DIALOGS RCDATA "languages\\dialogs\\de\\dialogs.mo"
IDR_TRANS_FR_DIALOGS RCDATA "languages\\dialogs\\fr\\dialogs.mo"
IDR_TRANS_FR_UNITS RCDATA "languages\\fr\\units\\units.mo"
IDR_TRANS_DE_UNITS RCDATA "languages\\de\\units\\units.mo"
IDR_TRANS_DE_LANGUAGES RCDATA "languages\\project\\de\\languages.mo"
IDR_TRANS_FR_LANGUAGES RCDATA "languages\\project\\fr\\languages.mo"
IDR_LANGUAGES RCDATA "languages\\project\\language.cfg"
